
.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;    
    position: relative;
}
.gray {
    color: #918E9B;
}
.bold {
    font-weight: bold;
}

.image {
    width: 100%;
    border-radius: 9px;
}
.stats {
    display: flex;
    align-items: center;
}
.star {
    height: 14px;
}
.price {
    margin-top: auto;
}
.badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}